:root{
    --pink:#ff00ee;
}
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none;
    border:none;
    list-style-type: none;
    text-decoration: none;
    transition: all .2s linear;
    scroll-behavior: smooth;

}


*::selection{
    background: var(--pink);
    color: rgb(11, 237, 237);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

section{
    padding:2rem 9%;
}
.heading{
    text-align: center;
    padding: 2.5rem 0;

}
.heading span{
    font-size: 3.5rem;
    background: rgb(233, 198, 198);
    color: rgb(210, 45, 45);
    border-radius: .5rem;
    padding: .2rem 1rem;
    
}
.heading span.space{
    background: none;
}


.head{
    text-align: center;
    padding: 2.5rem 0;;
}
.head span{
    font-size: 4rem;
    background: rgb(236, 23, 165);
    color: rgb(20, 206, 230);
    border-radius: 1rem;
    padding: .2rem 1rem;
    
}
.head span.space{
    background: none;
}

.btn{
    display: inline-block;
    margin-top: 1 rem;
    background: orange;
    color: rgb(39, 18, 58);
    padding: .8rem 3rem ;
    border: 2 rem solid var(--pink);
    cursor: pointer;
    font-size: 1.7rem;
}
.btn:hover{
    background: aquamarine;
    color: rgb(16, 18, 18);
}
header {
    position: fixed;
    top:0;
    left: 0; right: 0;
    background:rgba(8, 39, 101, 0.84);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    margin: 0;
}
header .logo{
    font-size: 5rem;
    font-weight:bold;
}
header .navbar a{
    color:azure;
    font-size: 2rem;
    margin:0 .8rem;
}
header .navbar a:hover{
    color: var(--pink);
}
header .icons i{
    font-size: 2.5rem;
    color: rgb(253, 254, 255);
    cursor: pointer;
    margin-right: 2rem;
}
header .icons i:hover{
    color:var(--pink);
    
}
header .search-bar-container{
    position:absolute;
    top: 100%; left: 0; right: 0;
    padding: 1.5rem 2rem;
    background:rgb(176, 55, 55);
    border-top: .1rem solid rgb(rgba(255, 0, 0, 0.103), rgb(126, 233, 126), rgb(34, 34, 210));
    display: flex;
    align-items: center;
    z-index: 1001;
    clip-path: polygon(0 0, 100% 0, 100% 0,0 0);
}
header .search-bar-container.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%,0 100% );
}

header .search-bar-container #search-bar{
    width:100%;
    padding: 1rem;
    text-transform: none;
    color:black;
    font-size: 1.7rem;
    border-radius: .5rem;
}
header .search-bar-container label{
    color: darkgray;
    cursor: pointer;
    font-size: 3rem;
    margin-left: 1.5rem;
}
header .search-bar-container label:hover{
    color: rgb(239, 6, 239);
}
body{
    height: 200rem;
}

/*menu bar*/
#menu-bar{
    color:rgb(10, 226, 125);
    border:.5rem solid white;
    border-radius: .5rem;
    font-size: 2rem;
    padding:.3rem 1.2rem;
    cursor: pointer;
    display: none;
}
.login-form-container{
    position: fixed;
    top: 120%;left: 0;
    z-index: 10000;
    min-height: 100vh;
    width: 100%;
    background:rgba(24, 124, 160, 0.769) ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-form-container.active{
    top:0;
}
.login-form-container form{
    margin: 2rem;
    padding: 1.5rem 2rem;
    border-radius: .5rem;
    background: rgb(201, 193, 214);
    width: 50rem;

}
.login-form-container form h2{
    font-size: 3 rem;
    color: rgba(222, 50, 27, 0.957);
    text-transform:uppercase ;
    text-align: center;
    padding: 1 rem 0;
}
.login-form-container form .box{
    width: 100%;
    padding: 1 rem;
    font-size: 1.8rem;
    color: rgba(12, 13, 12, 0.861);
    margin: .6rem;
    border: .1rem solid black;
    
} 
.login-form-container form .box:focus{
border-color: var(--pink);
}
.login-form-container form #remeber{
    margin:2 rem ;
    color: #ff00ee;
}
.login-form-container form label{
    font-size: 1.5rem;
}
.login-form-container form .btn{
    display:block;
    width:100%;
}

.login-form-container form p{
    color:white;
    font-size:1.5rem;
    padding: .5rem 0;
}
.login-form-container form a{
    color: rgb(23, 48, 214);
}

.login-form-container form p a:hover{
    color:aqua;
    text-decoration: underline;
}
.login-form-container #form-close{
    position: absolute;
    top: 2rem; right:3rem;
    font-size: 5rem;
    color:white;
    cursor: pointer;
}



.guide{
    display:flex ;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0vh;
    min-height: 100vh;
    background: rgb(144, 111, 175);
}
.Guide .travel-guides{
    padding: 4rem;
}
.Guide .travel-box{
    border: 4px solid rgb(108, 16, 16);
    padding:2rem;
    text-align: center;
    box-shadow: 0 1rem 2rem rgba(255, 0, 0, 0.103);
    background-color: rgb(175, 247, 223);
    border-radius: 4rem;
    
}

.Guide .travel-box img{
    height:13rem;
    width: 13rem;
    border-radius: 50% ;
    object-fit: cover;
    margin-bottom: 1rem;
}
.Guide .travel-box span{
   
    color:crimson
}


.Contact .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
}
.Contact .row .image{
    flex: 1 1 35rem;
}
.Contact .row .image img{
    width:100%;
}
.Contact .row form{
    flex: 1 1 50rem;
    padding: 2rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0,.1);
    border-radius: .5rem;
}
.Contact .row form .inputBox{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.Contact .row form .inputBox input, .Contact .row form textarea{
    width: 49%;
    margin: 1rem 0;
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    background: #f7f7f7;
    text-transform: none;
}
.Contact .row form textarea{
    height: 15rem;
    resize: none;
    width: 100%;

}





.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
    min-height: 100vh;
}
.home .content{
    text-align: center;
}
.home .content h3{
    font-size:4.5rem;
    color: rgb(1, 1, 1);
    text-transform: uppercase;
    text-shadow: 0 .3rem .5rem black;
}
.home .content p{
    font-size:2.5rem;
    color: rgb(1, 1, 1);
   padding: 0.5rem 0;
}

.home .video-container video{
    position: absolute ;
top:0;left: 0;
z-index: -1;
height: 100%;
width :100%;
object-fit: cover;
}

.home .controls{
    padding: .8rem;
    border-radius: 3rem;
    background: rgba(0, 0, 0,.7);
    position: relative;
    top: 10rem;
    size: 5px;
}
.home .controls .vid-btn{
  height: 2rem;
  width: 2rem;
  display:inline-block;
  border-radius: 50%;
  background-color: aliceblue;
  cursor: pointer;
  margin: 0 .5rem;
}

.home .controls .vid-btn.active{
    background:var(--pink);
    width: 20px;
}
section{
    padding: 2rem;
}
body{
    height: 300rem;
}





.Reviews .Reviews-slider{
    padding-bottom: 2rem;
}

.Reviews .box{
    background-color: rgba(230, 101, 210, 0.445);
    padding:2rem;
    text-align: center;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
    border-radius: .5rem;
    flex-wrap: wrap;

}

.Reviews .box img{
    height:13rem;
    width: 13rem;
    border-radius: 70%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.Reviews .box h3{
    color: #333;
    font-size: 2.5rem;
}

.Reviews .box p{
    color: rgb(67, 12, 197);
    font-size: 1.5rem;
    padding: 1rem 0;

}

.Reviews .box .stars i{
    color: rgb(250, 116, 6);
    font-size: 1.7rem;
}


















@media(max-width:1200px){
    
    html{
        font-size: 55%;

    }
}
    @media(max-width:991px){
        header{
            padding:2rem;
        }
    }
    @media(max-width:768px){

        #menu-bar{
            display:initial;
        }
        header .navbar{
            position: absolute;
            top:100%; right:0;  left:0;
            background: rgba(239, 181, 231, 0.742);
            border-top: .1rem solid rgba(71, 165, 192, 0.89);
            padding:1rem 2rem;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        }
        header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
        header .navbar a{
            display:block;
            border-radius: .5rem;
            padding:1.5rem;
            margin: 1.5rem 0;
            background: rgb(139, 142, 234);
        }
    }
    @media(max-width:450px){
    
        html{
            font-size: 50%;
    }
    .heading span{
        font-size: 2.5rem;
    }
    .Contact .row form .inputBox input{
        width: 100%;
    }
    }



    .book .row{
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        align-items: center;
    }
    .book .row .image{
        flex: 1 1 40rem;
    }
    .book .row .image img{
       width: 100%;
    }
    .book .row form{
        flex: 1 1 40rem;
        padding: 2rem;
        box-shadow: 0 1rem 2rem rgb(0, 0, 0,0.1);
        border-radius: 0.5rem;
    }
    .book .row form .inputBox{
        padding: .5rem 0;
    }
    .book .row form .inputBox input{
        width: 100%;
        padding: 1rem;
        border: 1rem solid rgb(0, 0, 0,0.1);
        font-size:1.7rem ;
        color: black;
    }
    .book .row form .inputBox h3{
        font-size: 2rem;
        padding: 1rem 0;
        color: rgb(0, 0, 0);
    }

    .packages .box-container{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }
    .packages .box-container .box{
        flex: 1 1 30rem;
        border-radius: .5rem;
        overflow: hidden;
        box-shadow: 0 1 rem rgb(0, 0, 0,0.1);
    }
     
    .packages .box-container .box img{
        height: 25rem;
        width: 100%;
        object-fit:cover;
        border:2px solid black;
    }

    .packages .box-container .box .content{
        padding: 2rem;
    }
    .packages .box-container .box .content h3{
        font-size: 2rem;
        color: rgb(11, 9, 9);
    }
    .packages .box-container .box .content h3 i{
        color: orange;
    }
    .packages .box-container .box .content p{
        font-size: 1.7rem;
        color: black;
        padding: 1rem 0;
    }
    .packages .box-container .box .content .stars i{
        font-size: 1.7rem;
        color: orange;
    }
    .packages .box-container .box .content .price{
        font-size: 2rem;
        color: #333;
        padding-top: 1rem;
    }
    .packages .box-container .box .content .price span{
        color: #666;
        font-size: 1.5rem;
        text-decoration: line-through;
    }

    .footer{
        background-image: url(HD-wallpaper-black-water-blue-dark-droplets-drops-rain-simple-wet-thumbnail.jpg);
    }

    .footer .box-container{
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
    }

    .footer .box-container .box{
        padding: 1rem 0;
        flex: 1 1 25rem;
    }

    .footer .box-container .box h3{
        font-size: 2.5rem;
        padding: .7rem 0;
        color: rgb(47, 215, 108);
    }

    .footer .box-container .box p{
        font-size: 1.5rem;
        padding: .7rem 0;
        color: white;
    }

    .footer .box-container .box a{
        display: block;
        font-size: 1.5rem;
        padding: .7rem 0;
        color: #eee;
    }

    .footer .box-container .box a:hover{
        color: aqua;
        text-decoration: underline;
    }

    .footer .credit{
        text-align: center;
        padding: 2rem 1rem;
        margin-top: 1rem;
        font-size: 2rem;
        font-weight: normal;
        color: #fff;
        border-top: .1rem solid rgba(239, 181, 231, 0.742);
    }

    .footer .credit span{
        color: aqua;
    }

